<!DOCTYPE html>
<html>
<head>
  <title>{{t "mail.templates.emailVerification.title"}}</title>
</head>
<body>
  <h1>{{t "mail.templates.emailVerification.heading"}}</h1>
  <p>{{t "mail.templates.emailVerification.body"}}</p>
  <p><strong>{{t "mail.templates.emailVerification.codeLabel"}} {{code}}</strong></p>
  <p>{{t "mail.templates.emailVerification.expireText"}}</p>
</body>
</html>