<!DOCTYPE html>
<html>
<head>
  <title>{{t "mail.templates.invite.title"}}</title>
</head>
<body>
  <h1>{{t "mail.templates.invite.heading"}}</h1>
  <p>{{t "mail.templates.invite.body"}}</p>
  <p><a href="{{resetUrl}}">{{t "mail.templates.invite.buttonText"}}</a></p>
  <p>{{t "mail.templates.invite.ignoreText"}}</p>
  <p>{{t "mail.templates.invite.expireText"}}</p>
</body>
</html>