<!DOCTYPE html>
<html>
<head>
  <title>{{t "mail.templates.passwordReset.title"}}</title>
</head>
<body>
  <h1>{{t "mail.templates.passwordReset.heading"}}</h1>
  <p>{{t "mail.templates.passwordReset.body"}}</p>
  <p><a href="{{resetUrl}}">{{t "mail.templates.passwordReset.buttonText"}}</a></p>
  <p>{{t "mail.templates.passwordReset.ignoreText"}}</p>
  <p>{{t "mail.templates.passwordReset.expireText"}}</p>
</body>
</html>