<!DOCTYPE html>
<html>
<head>
  <title>{{t "mail.templates.signUp.title"}}</title>
</head>
<body>
  <h1>{{t "mail.templates.signUp.heading"}}</h1>
  <p>{{t "mail.templates.signUp.body"}}</p>
  <p><a href="{{resetUrl}}">{{t "mail.templates.signUp.buttonText"}}</a></p>
  <p>{{t "mail.templates.signUp.ignoreText"}}</p>
  <p>{{t "mail.templates.signUp.expireText"}}</p>
</body>
</html>